$primary-color: #333333;
$secondary-color: #c9a819;
$text-color: #fff;
$card-color: #0b0808;

$header-ff: 'Kanit', sans-serif;
$header-ff2: 'Shrikhand', cursive;

$body-ff: 'Nunito', sans-serif;
