@import url("https://fonts.googleapis.com/css?family=Kanit|Nunito|Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
/* global styling goes here */
/* line 8, ../sass/base.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/base.scss */
body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  background: #333333;
  overflow-x: hidden;
}

/* line 23, ../sass/base.scss */
.match_search {
  width: 60%;
  margin: 40px auto;
  position: relative;
}
/* line 28, ../sass/base.scss */
.match_search .fa-search {
  color: #535151;
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 15px;
}
/* line 36, ../sass/base.scss */
.match_search input {
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px 0px 10px 55px;
  box-shadow: inset 3px 3px 8px black;
}
/* line 45, ../sass/base.scss */
.match_search input:focus {
  box-shadow: inset 3px 3px 12px black;
}

/* line 54, ../sass/base.scss */
section {
  padding-bottom: 50px;
}

/* line 58, ../sass/base.scss */
.score_card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #0b0808;
  padding: 8px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 20px grey;
}
/* line 68, ../sass/base.scss */
.score_card .card_image {
  width: 100px;
  text-align: center;
}
/* line 72, ../sass/base.scss */
.score_card .card_image img {
  height: 80px;
  width: 80px;
}
/* line 77, ../sass/base.scss */
.score_card .card_image .team_name {
  height: 50px;
  text-align: center;
  font-size: 16px;
  margin: 10px 0px 0px 0px;
}
/* line 86, ../sass/base.scss */
.score_card .vs {
  height: 100px;
  font-size: 18px;
  margin: 0 10px;
  line-height: 100px;
}
/* line 93, ../sass/base.scss */
.score_card .winner {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  line-height: 1.9em;
}

/* line 103, ../sass/base.scss */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-top: 3px solid yellow;
  border-right: 3px solid red;
  border-bottom: 3px solid green;
  border-left: 3px solid blue;
  animation: updown 1s linear infinite;
  transform-origin: center;
}

@keyframes updown {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
/* line 138, ../sass/base.scss */
footer {
  padding: 50px;
  background: #0b0808;
}
/* line 142, ../sass/base.scss */
footer h4 {
  text-align: center;
}
/* line 146, ../sass/base.scss */
footer h6 {
  text-align: center;
  font-style: italic;
}

@media screen and (max-width: 400px) {
  /* line 155, ../sass/base.scss */
  html {
    font-size: 14px;
  }

  /* line 159, ../sass/base.scss */
  .match_search {
    width: 95%;
  }
}
