/* line 6, ../sass/mobile.scss */
header {
  height: auto;
}
/* line 10, ../sass/mobile.scss */
header #content-wrapper h1 {
  margin-top: 3rem;
  font-size: 2rem;
}
/* line 16, ../sass/mobile.scss */
header nav {
  width: 100%;
  height: 75px;
  background: #333333;
  position: relative;
}
/* line 22, ../sass/mobile.scss */
header nav .logo {
  float: none;
  width: 120px;
  line-height: 75px;
}
/* line 27, ../sass/mobile.scss */
header nav .logo img {
  height: 60px;
  width: 120px;
}
/* line 33, ../sass/mobile.scss */
header nav .fa {
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
/* line 43, ../sass/mobile.scss */
header nav ul {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: block;
  float: none;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 0;
  z-index: 10;
  background: #333333;
  transition: all 0.3s;
  animation: none;
}
/* line 60, ../sass/mobile.scss */
header nav ul li {
  height: auto;
  width: 100%;
  position: static;
  margin-right: none;
}
/* line 67, ../sass/mobile.scss */
header nav ul li a:hover {
  background-color: #c9a819;
}
/* line 72, ../sass/mobile.scss */
header nav ul li:after, header nav ul li:before {
  content: none;
}

/* dynamically added classes */
/* line 85, ../sass/mobile.scss */
.current {
  height: 200px;
}

/* line 93, ../sass/mobile.scss */
.score_card .card_image {
  width: 80px;
}
/* line 96, ../sass/mobile.scss */
.score_card .card_image img {
  height: 80px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  /* line 105, ../sass/mobile.scss */
  html {
    font-size: 14px;
  }

  /* line 112, ../sass/mobile.scss */
  #matches_section h1 {
    font-size: 2.5em;
    margin: 15px 0px;
  }
  /* line 118, ../sass/mobile.scss */
  #matches_section .score_card .card_image {
    width: 60px;
  }
  /* line 121, ../sass/mobile.scss */
  #matches_section .score_card .card_image img {
    height: 60px;
    width: 100%;
  }

  /* line 131, ../sass/mobile.scss */
  #content-wrapper div {
    text-align: center;
  }
  /* line 133, ../sass/mobile.scss */
  #content-wrapper div h1 {
    text-align: center;
  }
  /* line 137, ../sass/mobile.scss */
  #content-wrapper div h4 {
    text-align: center;
  }

  /* line 144, ../sass/mobile.scss */
  #header-img-wrapper {
    text-align: center;
  }
  /* line 147, ../sass/mobile.scss */
  #header-img-wrapper img {
    height: 350px;
    max-width: 210px;
  }
}
